@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@layer base;
@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .section {
    @apply h-screen bg-[lightsteelblue] flex flex-col justify-center items-center;
  }

  .btn {
    @apply select-none text-white font-medium text-lg leading-5 rounded-md cursor-pointer m-2.5 p-2 border-none hover:brightness-150 bg-black disabled:bg-slate-300 disabled:text-gray-500 disabled:cursor-not-allowed hover:bg-gray-800;
  }
}

@layer base {
  h1 {
    @apply text-6xl;
    font-family: 'Bodoni Moda', serif;
  }
  h2 {
    @apply text-5xl;
    font-family: 'Bodoni Moda', serif;
  }
  h3 {
    @apply text-4xl;
    font-family: 'Bodoni Moda', serif;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-xl;
  }
}
